.b1{
    width: 30%;
   margin-top: 10%;
   margin-left: 30%;
   padding:20px 20px 50px 50px ;
 
   background-color:rgb(245, 117, 102);
   border-radius: 20px;
   border:solid rgb(72, 6, 116) 3px;
   color:rgb(72, 6, 116);
}
.dclock{
   margin: 10px;
   margin-right: 100px;
   color:rgb(156, 9, 9);
   font-size: 30px;
   background-color: rgb(44, 197, 172);
   padding: 15px;
   border: solid 3px black;
   border-radius: 20px;
}
.box{
   width:50px;
   height: 50px;
   background-color:purple;
   border: solid 2px blue;
   animation-name: design;
   animation-duration: 5s;
   animation-iteration-count: infinite;

   position: relative;
}

@keyframes design {
    0%{
        top:100px;
        left: 300px;
    }
    25%{
        top:100px;
        left: 1100px;
        background-color: brown;
    }
    50%{
        top:480px;
        left:1100px;
        background-color: yellow;
    }
    75%{
        top:480px;
        left: 300px;
        background-color: pink;
    }
    100%{
        top:100px;
        left: 300px;
        background-color: purple;
    }
   
    
}